<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form?.errors" class="alert alert-danger">
        The username or password is invalid
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input formControlName="username" id="username" type="text" class="form-control">
    </div>
    <div *ngIf="form?.get('username')?.pending">Checking for uniqueness..</div>
    <div *ngIf="f?.['username']?.touched && f?.['username']?.invalid" class="alert alert-danger">
        <div *ngIf="f?.['username']?.errors?.['required']">
            Username is required
        </div>
        <div *ngIf="f?.['username']?.errors?.['minlength']">
            Min length should be {{f?.['username']?.errors?.['minlength'].requiredLength}} characters
        </div>
        <div *ngIf="f?.['username']?.errors?.['cannotContainSpace']">
            Cannot Contain Space
        </div>
        <div *ngIf="f?.['username']?.errors?.['shouldBeUnique']">
            Username is already taken.
        </div>
    </div>


    <div class="form-group">
        <label for="password">Password</label>
        <input formControlName="password" id="password" type="text" class="form-control">
    </div>
    <div *ngIf="f?.['password']?.touched && f?.['password']?.invalid" class="alert alert-danger">
        Password is required
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>