<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" class="form-control" type="text" id="oldPassword">
        <div *ngIf="oldPassword?.touched && oldPassword?.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword?.errors?.['required']">Old password is required</div>
            <div *ngIf="oldPassword?.errors?.['invalidOldPassword']">Invalid Old password</div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" class="form-control" type="text" id="newPassword">
        <div *ngIf="newPassword?.touched && newPassword?.invalid" class="alert alert-danger">
            <div *ngIf="newPassword?.errors?.['required']">New password is required</div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" class="form-control" type="text" id="confirmPassword">
        <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid" class="alert alert-danger">
            <div *ngIf="confirmPassword?.errors?.['required']">Confirm password is required</div>
        </div>
        <div *ngIf="confirmPassword?.valid && form.invalid && form.errors?.['passwordsShouldMatch']"
            class="alert alert-danger">
            Passwords do not match.
        </div>
    </div>
    <br>
    <button class="btn btn-primary">Change Password</button>
</form>