<!-- <h1>{{title}}</h1>
<courses></courses> -->
<!-- <app-authors></app-authors> -->
<!-- <app-favorite [isFavorite]="post.isGood" (Change)="onFavoriteChanged($event)"></app-favorite> -->
<!-- <app-titlecase></app-titlecase> -->

<!-- panels r not there in bootstrap-4 so use cards-->
<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h1>Body</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quidem? Sit in amet atque enim
            quis officiis exercitationem ab ut aspernatur quod eveniet, dolore libero placeat temporibus hic unde!
            Alias.</p>
    </div>
</bootstrap-panel> -->
<!-- <app-like [isActive]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-like> -->

<!-- <div *ngIf="courses.length>0; else noCourses">
    {{courses.length}} courses available
</div>
<ng-template #noCourses>No courses available</ng-template> -->

<!-- <div *ngIf="courses.length>0; then coursesList else noCourses"></div>
<ng-template #coursesList>{{courses.length}} courses available</ng-template>
<ng-template #noCourses>No courses available</ng-template> -->

<!-- <div class="nav nav-pills">
    <ul class="nav-item nav-link" [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></ul>
    <ul class="nav-item nav-link" [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></ul>
</div>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <button (click)="add()">Add</button>
<ul>
    <li *ngFor="let course of courses; index as i, even as isEven">
        {{i}}th course={{course.name}}<span *ngIf="isEven">(EVEN)</span>
        <button (click)="remove(course)">Remove</button>
    </li>
</ul> -->

<!-- <button (click)="loadCourses()">Load</button>
<ul>
    <li *ngFor="let course of courses; index as i, even as isEven, trackBy:trackCourse">
        {{i}}th course={{course.name}}<span *ngIf="isEven">(EVEN)</span>
        <button (click)="remove(course)">Remove</button>
    </li>
</ul> -->

<!-- <input type="text" [appInputFormat]="'lowercase'"> -->

<!-- <app-zippy title="Shipping Details">
    Shipping Details Content
</app-zippy>
<br>
<app-zippy title="Billing Details">
    Billing Details Content
</app-zippy> -->

<!-- <app-contact-form></app-contact-form> -->

<!-- <app-new-course-form></app-new-course-form> -->

<!-- <signup-form></signup-form> -->

<!-- <app-course-form-example></app-course-form-example> -->

<!-- <app-change-password></app-change-password> -->

<app-posts></app-posts>